.navbar {
    height: 140px;
}

.home-section.fullscreen,
.fullscreen {
  min-height: calc(100vh - 140px);
}

.page-wrapper {
  // Min height = viewport height - navbar height
  min-height: calc(100vh - 140px);
}
